body{
	background-color: #DCBD79;
}

h2{
	font-size: 69.420px;
	color: teal;
	background-color: #38A530;
}

.big{
	font-size: 100px;
}

.small{
	font-size: 40px;
	color: crimson;
}

.uppercase{
	text-transform: uppercase;
}

.small.uppercase{
	color: #0008FF;
}

h1 span{
	color: gold; 
}

p span{
	font-size: 40px;
	color: crimson;
	font-style: italic;
}

span{
	color: black; font-size: 69px;
}